<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hooseating.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.hooseating.app.HoosEatingApplication"
        android:icon="@drawable/icon_android"
        android:label="HoosEating">
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".MainMenuActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="HoosEating" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NearMeActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ListEventsActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.hooseating.android.ShowEventInfoActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
    </application>

</manifest>